<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="@FULL_VERSION@">
<dict>
	<key>CFBundleIconFile</key>
        <string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>@LIBRARY@</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@<string>
	<key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
        <string>@BUNDLEIDENTIFIER@</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>@BUNDLEIDENTIFIER@</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>CoinonatX</string>
            </array>
          </dict>
        </array>
        <key>LSAppNapIsDisabled</key>
          <string>True</string>
</dict>
</plist>
